# Ignore environment variables
.env

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore database files
db.sqlite3

# Ignore Django secret key file (if any)
secret.json

# Ignore VS Code settings (if using VS Code)
.vscode/

# Ignore logs and cache files
*.log
# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars

# Ansible
*.retry

# OS / IDE
.vscode/
.idea/
.DS_Store
