apiVersion: v1
kind: ConfigMap
metadata:
  name: fluentd-config
  namespace: default
data:
  fluent.conf: |
    <source>
      @type tail
      path /var/log/containers/*.log
      pos_file /var/log/fluentd-containers.log.pos
      tag kubernetes.*
      format json
    </source>

    <match **>
      @type splunk_hec
      hec_host 192.168.49.1
      hec_port 8088
      hec_token c4b191ee-0ef7-4829-a219-ac99a36dc59d
      hec_ssl false
      index main
      # sourcetype _json
    </match>
