---
- name: Configure Nagios Monitoring Server
  hosts: nagios
  become: yes
  tasks:
    - name: Install Nagios Core and Plugins
      apt:
        name: ["nagios4", "nagios-nrpe-server", "nagios-plugins"]
        state: present
        update_cache: yes

    - name: Configure Nagios admin password
      shell: |
        htpasswd -bc /etc/nagios4/htpasswd.users nagiosadmin nagios
      args:
        creates: /etc/nagios4/htpasswd.users

    - name: Add monitored host configuration
      copy:
        dest: /etc/nagios4/conf.d/driving_school_app.cfg
        content: |
          define host {
              use                     linux-server
              host_name               driving-school-app
              alias                   Driving School Website
              address                 13.61.186.21
          }

          define service {
              use                     generic-service
              host_name               driving-school-app
              service_description     HTTP Check
              check_command           check_http!-p 8001
          }

          define service {
              use                     generic-service
              host_name               driving-school-app
              service_description     PING
              check_command           check_ping!100.0,20%!500.0,60%
          }

    - name: Restart Nagios
      service:
        name: nagios4
        state: restarted


- name: Configure NRPE agent on app server
  hosts: app
  become: yes
  tasks:
    - name: Install NRPE and plugins
      apt:
        name: ["nagios-nrpe-server", "nagios-plugins"]
        state: present
        update_cache: yes

    - name: Configure allowed_hosts for NRPE
      lineinfile:
        path: /etc/nagios/nrpe.cfg
        regexp: '^allowed_hosts='
        line: 'allowed_hosts=127.0.0.1,13.61.147.24'

    - name: Restart NRPE service
      service:
        name: nagios-nrpe-server
        state: restarted

